fastapi==0.111.0
uvicorn==0.29.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
aif360==0.6.1
fairlearn==0.10.0
shap==0.45.0
google-generativeai==0.5.4
python-multipart==0.0.9
python-dotenv==1.0.1
lime==0.2.0.1